*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: none;
  marker: none;
}

.admin_container {
  width: 100%;
  height: 100vh;
  background-color: #F3F3F3;
}
.admin_container .sidebar {
  height: 100%;
  width: 19%;
  overflow-y: auto;
  background-color: #FFFFFF;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: left;
  padding: 1rem;
  box-shadow: -5px 0px 25px 0px #DDDDDD;
  position: fixed;
}
.admin_container .sidebar--restaurant-logo {
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.admin_container .sidebar--restaurant-logo-box {
  display: contents;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
}
.admin_container .sidebar--restaurant-logo-box > img {
  max-width: 100%;
  height: auto;
}
.admin_container .sidebar--navigations-link.active a, .admin_container .sidebar--navigations-link.active span {
  color: #FF4747;
}
.admin_container .sidebar--navigations-link.active span.sidebar--navigations-link-arrow {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.95rem;
  gap: 3rem;
  cursor: pointer;
}
.admin_container .sidebar--navigations-link-text {
  font-size: 16px;
}
.admin_container .sidebar--navigations-link-arrow {
  color: #555555;
  font-weight: 200;
  font-size: 24px;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link-icon {
  color: #555555;
  font-weight: 300;
  font-size: 25px;
}
.admin_container .sidebar--navigations-submenu {
  margin-bottom: 1.75rem;
}
.admin_container .sidebar--navigations-submenu-link {
  margin-top: -2rem;
  display: none;
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
}
.admin_container .sidebar--navigations-subsubmenu {
  margin-bottom: -0.75rem;
  padding: 1rem;
}
.admin_container .sidebar--navigations-subsubmenu.active a, .admin_container .sidebar--navigations-subsubmenu.active span {
  color: #FF4747;
}
.admin_container .sidebar--icon {
  display: flex;
  line-height: 24px;
  gap: 0.65rem;
}
.admin_container--dashboard {
  background-color: transparent;
  height: 100%;
  width: 81%;
  margin-left: 19%;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@media (min-width: 1629px) {
  .admin_container .sidebar {
    width: 16% !important;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 2.5rem;
    gap: 4.75rem;
  }
  .admin_container--dashboard {
    width: 84% !important;
    margin-left: 16% !important;
  }
}
@media (max-width: 1365px) and (min-width: 1240px) {
  .admin_container .sidebar {
    width: 20% !important;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 1.85rem;
    gap: 2rem;
  }
  .admin_container--dashboard {
    width: 80% !important;
    margin-left: 20% !important;
  }
}
@media (max-width: 1239px) and (min-width: 1000px) {
  .admin_container .sidebar {
    width: 24% !important;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 1.75rem;
    gap: 2rem;
  }
  .admin_container--dashboard {
    width: 76% !important;
    margin-left: 24% !important;
  }
}

/*# sourceMappingURL=style.css.map */
