*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: none;
  marker: none;
}

.admin_container {
  width: 100%;
  height: 100vh;
  background-color: #F3F3F3;
}
.admin_container .sidebar {
  height: 100%;
  width: 19.1%;
  background-color: #FFFFFF;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: left;
  padding: 1rem;
  box-shadow: -5px 0px 25px 0px #DDDDDD;
  -webkit-box-shadow: -5px 0px 25px 0px #DDDDDD;
  -moz-box-shadow: -5px 0px 25px 0px #DDDDDD;
  position: fixed;
  top: 0;
}
.admin_container .sidebar--restaurant-logo {
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.admin_container .sidebar--restaurant-logo-box {
  display: contents;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
}
.admin_container .sidebar--restaurant-logo-box > img {
  max-width: 100%;
  height: auto;
}
.admin_container .sidebar--navigations-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}
.admin_container .sidebar--navigations-container::-webkit-scrollbar {
  width: 3px;
  max-height: 3px;
}
.admin_container .sidebar--navigations-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 2%;
  background-color: rgba(189, 189, 189, 0.8509803922);
}
.admin_container .sidebar--navigations-link.active a, .admin_container .sidebar--navigations-link.active span {
  color: #FF4747;
}
.admin_container .sidebar--navigations-link.active span.sidebar--navigations-link-arrow {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  gap: 3rem;
  cursor: pointer;
}
.admin_container .sidebar--navigations-link-text {
  font-size: 16px;
}
.admin_container .sidebar--navigations-link-arrow {
  color: #555555;
  font-weight: 200;
  font-size: 24px;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link-icon {
  color: #555555;
  font-weight: 300;
  font-size: 25px;
}
.admin_container .sidebar--navigations-submenu {
  margin-bottom: 1.75rem;
}
.admin_container .sidebar--navigations-submenu-link {
  margin-top: -2rem;
  display: none;
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
}
.admin_container .sidebar--navigations-submenu-link ::after {
  animation: growUp 0.2s ease-in-out backwards;
}
.admin_container .sidebar--navigations-subsubmenu {
  margin-bottom: -0.75rem;
  padding: 1rem;
}
.admin_container .sidebar--navigations-subsubmenu.active a, .admin_container .sidebar--navigations-subsubmenu.active span {
  color: #FF4747;
}
.admin_container .sidebar--icon {
  display: flex;
  line-height: 24px;
  gap: 0.65rem;
}
.admin_container--dashboard {
  background-color: transparent;
  height: 100%;
  width: 81%;
  margin-left: 19%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.admin_container--dashboard-header {
  width: 100%;
  background-color: #FFFFFF;
  height: 70px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px 16px;
  overflow: hidden;
}
.admin_container--dashboard-header-title {
  display: flex;
}
.admin_container--dashboard-header-title .user-hii, .admin_container--dashboard-header-title .user-hey, .admin_container--dashboard-header-title .user-hello, .admin_container--dashboard-header-title #user-name {
  font-family: Pacifico, serif;
  font-size: 28px;
  color: #888888;
  font-weight: 400;
}
.admin_container--dashboard-header-title #user-name {
  margin-left: -8px;
}
.admin_container--dashboard-header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin_container--dashboard-header-info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}
.admin_container--dashboard-header-info-1 #time {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
}
.admin_container--dashboard-header-info-2 {
  gap: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.admin_container--dashboard-header-info-2 #date {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
}
.admin_container--dashboard-details {
  width: 100%;
  height: 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.admin_container--dashboard-details-graph {
  width: calc(100% - 314px);
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 16px 0px;
}
.admin_container--dashboard-details-graph-pie {
  width: calc(100% - 343px);
  height: 100%;
  border-right: 2px solid #DDDDDD;
}
.admin_container--dashboard-details-graph-column {
  width: calc(100% - 283px);
  height: 100%;
}
.admin_container--dashboard-details-notifications {
  width: calc(100% - 628px);
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
}
.admin_container--dashboard-table-status {
  padding: 0px 16px;
}
.admin_container--dashboard-table-status > h5 {
  font-size: 16px;
  font-weight: 600;
}
.admin_container--dashboard-table-chart {
  position: relative;
  height: 180px;
  width: 180px;
  margin: 30px auto;
}
.admin_container--dashboard #progress-chart {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px !important;
  width: 400px !important;
}
.admin_container--dashboard-table-reference {
  height: 48px;
  width: calc(100% - 48px);
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.admin_container--dashboard .table-reference-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.admin_container--dashboard .table-reference-status-marker {
  height: 16px;
  width: 8px;
  background-color: yellow;
  border-radius: 4px;
}
.admin_container--dashboard .table-reference-status-text {
  font-size: 12px;
  font-weight: 400;
}
.admin_container--dashboard .table-reference-occupied-marker {
  background-color: #B3D9E2;
}
.admin_container--dashboard .table-reference-occupied-text {
  color: #14809E;
}
.admin_container--dashboard .table-reference-available-marker {
  background-color: #DDDDDD;
}
.admin_container--dashboard .table-reference-available-text {
  color: #555555;
}
.admin_container--dashboard .table-reference-engaged-marker {
  background-color: #54BA54;
}
.admin_container--dashboard .table-reference-engaged-text {
  color: #54BA54;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0);
  }
}
@media (min-width: 1629px) {
  .admin_container .sidebar {
    width: 16%;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 2.5rem;
    gap: 4.75rem;
  }
  .admin_container--dashboard {
    width: 84%;
    margin-left: 16%;
  }
}
@media (max-width: 1365px) and (min-width: 1240px) {
  .admin_container .sidebar {
    width: 20%;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .admin_container--dashboard {
    width: 80%;
    margin-left: 20%;
  }
}
@media (max-width: 1239px) and (min-width: 1000px) {
  .admin_container .sidebar {
    width: 24%;
  }
  .admin_container .sidebar--navigations-link {
    margin-bottom: 1.75rem;
    gap: 2rem;
  }
  .admin_container--dashboard {
    width: 76%;
    margin-left: 24%;
  }
  .admin_container--dashboard-details-graph {
    width: calc(100% - 258px);
  }
  .admin_container--dashboard-details-graph-pie {
    width: calc(100% - 231px);
  }
  .admin_container--dashboard-details-graph-column {
    width: calc(100% - 206px);
  }
  .admin_container--dashboard-details-notifications {
    width: calc(100% - 490px);
  }
  .admin_container--dashboard-table-reference {
    width: 96.5%;
  }
}

/*# sourceMappingURL=style.css.map */
