*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  text-transform: capitalize;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: none;
  marker: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.container-wrap {
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 100%;
}

.content-frame {
  height: 100%;
}

.enable {
  color: #54BA54;
}

.primary-stat {
  color: #994996;
}

.secondary-stat {
  color: #14809E;
}

.center {
  justify-content: center;
  align-items: center;
}

.mar-b-16 {
  margin-bottom: 16px;
}

.mar-0 {
  margin: 0px !important;
}

.g-24 {
  gap: 24px;
}

.g-16 {
  gap: 16px;
}

.g-8 {
  gap: 8px;
}

.text-right {
  text-align: right;
}

.btn-wrap {
  padding: 4px 8px;
  background: linear-gradient(90deg, #ff6666 0%, #ff9688 100%);
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.btn-secondary {
  gap: 8px;
  background: #fff;
  color: #ff4747;
  border: 1px solid #ff4747;
}

.btn-disable {
  background: #DDDDDD;
  color: #888888;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-end {
  justify-content: end;
}

.disp-none {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form-col-2 {
  width: calc(50% - 24px);
}

.nowrap {
  text-wrap: nowrap;
}

.input-field {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

label {
  font-size: 12px;
  line-height: 16px;
}

.input-box {
  border-bottom: 1px solid #555555;
  padding: 0px 0px 0px 16px;
}

.input-with-btn {
  display: flex;
  justify-content: space-between;
}
.input-with-btn .btn-wrap {
  margin: 8px;
}

.text-area {
  border-radius: 12px;
}

select {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

.label-padding {
  padding-left: 16px;
}

.text-small-lightgrey {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table td {
  padding: 16px;
}
.custom-table thead td {
  color: #FF4747;
}
.custom-table tbody tr {
  border-top: 2px solid #E8F1FF;
  font-size: 14px;
  line-height: 21px;
}
.custom-table tbody tr:nth-child(even) {
  background: #E8F1FF;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.admin_container {
  width: 100%;
  max-width: 1242px;
  display: flex;
  margin: 0px auto;
  height: 100vh;
  background-color: #F3F3F3;
}
.admin_container .sidebar {
  height: 100%;
  width: 20%;
  background-color: #FFFFFF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
  padding: 1rem;
  box-shadow: -5px 0px 25px 0px #DDDDDD;
  -webkit-box-shadow: -5px 0px 25px 0px #DDDDDD;
  -moz-box-shadow: -5px 0px 25px 0px #DDDDDD;
}
.admin_container .sidebar--restaurant-logo {
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.admin_container .sidebar--restaurant-logo-box {
  display: contents;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
}
.admin_container .sidebar--restaurant-logo-box > img {
  max-width: 100%;
  height: auto;
}
.admin_container .sidebar--navigations-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}
.admin_container .sidebar--navigations-container::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
.admin_container .sidebar--navigations-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 2%;
  background-color: rgba(189, 189, 189, 0.8509803922);
}
.admin_container .sidebar--navigations-container::-webkit-scrollbar-track-piece:end {
  background-color: transparent;
  margin-bottom: 10px;
}
.admin_container .sidebar--navigations-link.active a, .admin_container .sidebar--navigations-link.active span {
  color: #FF4747;
}
.admin_container .sidebar--navigations-link.active span.sidebar--navigations-link-arrow {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.admin_container .sidebar--navigations-link-text {
  font-size: 16px;
}
.admin_container .sidebar--navigations-link-arrow {
  color: #555555;
  font-weight: 200;
  font-size: 24px;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.admin_container .sidebar--navigations-link-icon {
  color: #555555;
  font-weight: 300;
  font-size: 25px;
}
.admin_container .sidebar--navigations-submenu {
  margin-bottom: 1.75rem;
}
.admin_container .sidebar--navigations-submenu-link {
  margin-top: -2rem;
  display: none;
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
}
.admin_container .sidebar--navigations-submenu-link ::after {
  animation: growUp 0.2s ease-in-out backwards;
}
.admin_container .sidebar--navigations-subsubmenu {
  margin-bottom: -0.75rem;
  padding: 1rem;
}
.admin_container .sidebar--navigations-subsubmenu.active a, .admin_container .sidebar--navigations-subsubmenu.active span {
  color: #FF4747;
}
.admin_container .sidebar--icon {
  display: flex;
  line-height: 24px;
  gap: 0.65rem;
}
.admin_container--dashboard {
  background-color: transparent;
  height: 100%;
  width: 80%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header .stats {
  text-align: center;
}
.header .stats .stat-secondary {
  color: #CBA703;
}
.header .stats .stat-value {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}
.header .stats .stat-text {
  font-size: 12px;
  line-height: 16px;
}

.search-tab {
  width: 50%;
  padding: 8px;
  font-size: 14px;
  line-height: 21px;
  color: #FF4747;
  border: 1px solid #AAA;
  border-radius: 8px;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0);
  }
}
.admin_container--dashboard-iframe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.admin_container--dashboard-iframe-header {
  width: 100%;
  background-color: #FFFFFF;
  height: 70px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px 16px;
  overflow: hidden;
}
.admin_container--dashboard-iframe-header-title {
  display: flex;
}
.admin_container--dashboard-iframe-header-title .user-hii,
.admin_container--dashboard-iframe-header-title .user-hey,
.admin_container--dashboard-iframe-header-title .user-hello,
.admin_container--dashboard-iframe-header-title #user-name {
  font-family: Pacifico, serif;
  font-size: 28px;
  color: #888888;
  font-weight: 400;
}
.admin_container--dashboard-iframe-header-title #user-name {
  margin-left: 4px;
}
.admin_container--dashboard-iframe-header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin_container--dashboard-iframe-header-info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}
.admin_container--dashboard-iframe-header-info-1 #time {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
}
.admin_container--dashboard-iframe-header-info-2 {
  gap: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.admin_container--dashboard-iframe-header-info-2 #date {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
}
.admin_container--dashboard-iframe-details {
  width: 100%;
  height: 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.admin_container--dashboard-iframe-details-graph {
  width: calc(100% - 314px);
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 16px 0px;
}
.admin_container--dashboard-iframe-details-graph-pie {
  width: calc(100% - 343px);
  height: 100%;
  border-right: 2px solid #DDDDDD;
}
.admin_container--dashboard-iframe-details-graph-column {
  width: calc(100% - 283px);
  height: 100%;
}
.admin_container--dashboard-iframe-details-notifications {
  width: calc(100% - 628px);
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
  overflow-y: auto;
}
.admin_container--dashboard-iframe-details-notifications::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  cursor: pointer;
  margin-left: -12px;
}
.admin_container--dashboard-iframe-details-notifications::-webkit-scrollbar-track {
  border-radius: 0;
  width: 12px;
  height: 200px;
  background: #eeeeee;
}
.admin_container--dashboard-iframe-details-notifications::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}
.admin_container--dashboard-iframe-details-notifications .notification-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-header-heading {
  font-size: 18px;
  font-weight: 600;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-header-unread {
  font-size: 14px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-message {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  padding: 12px;
  text-transform: none;
  border-bottom: 1px solid #D3F5FF;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-message.active {
  background-color: #FFEDED;
  border-bottom: none;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-message-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #888888;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-message-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #222222;
}
.admin_container--dashboard-iframe-details-notifications .notification-row-message-text > span {
  color: #FF4747;
}
.admin_container--dashboard-iframe-table-status {
  padding: 0px 16px;
}
.admin_container--dashboard-iframe-table-status > h5 {
  font-size: 18px;
  font-weight: 600;
}
.admin_container--dashboard-iframe-table-chart {
  position: relative;
  height: 180px;
  width: 180px;
  margin: 30px auto;
}
.admin_container--dashboard-iframe #table-chart {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px !important;
  width: 400px !important;
}
.admin_container--dashboard-iframe-table-reference {
  height: 48px;
  width: calc(100% - 48px);
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
}
.admin_container--dashboard-iframe .table-reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
}
.admin_container--dashboard-iframe .table-reference-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.admin_container--dashboard-iframe .table-reference-status-marker {
  height: 16px;
  width: 8px;
  border-radius: 4px;
}
.admin_container--dashboard-iframe .table-reference-status-text {
  font-size: 12px;
  font-weight: 400;
}
.admin_container--dashboard-iframe .table-reference-occupied-marker {
  background-color: #B3D9E2;
}
.admin_container--dashboard-iframe .table-reference-occupied-text {
  color: #14809E;
}
.admin_container--dashboard-iframe .table-reference-available-marker {
  background-color: #DDDDDD;
}
.admin_container--dashboard-iframe .table-reference-available-text {
  color: #555555;
}
.admin_container--dashboard-iframe .table-reference-engaged-marker {
  background-color: #54BA54;
}
.admin_container--dashboard-iframe .table-reference-engaged-text {
  color: #54BA54;
}
.admin_container--dashboard-iframe-order-reference {
  height: fit-content;
  width: calc(100% - 25px);
  margin: 4px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.admin_container--dashboard-iframe .order-reference-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.admin_container--dashboard-iframe .order-reference-status-marker {
  height: 16px;
  width: 8px;
  border-radius: 4px;
}
.admin_container--dashboard-iframe .order-reference-status-text {
  font-size: 12px;
  font-weight: 400;
}
.admin_container--dashboard-iframe .order-reference-total-marker {
  background-color: #D3F5FF;
}
.admin_container--dashboard-iframe .order-reference-total-text {
  color: #14809E;
}
.admin_container--dashboard-iframe .order-reference-customers-marker {
  background-color: #FFF1B1;
}
.admin_container--dashboard-iframe .order-reference-customers-text {
  color: #CBA703;
}
.admin_container--dashboard-iframe .order-reference-sales-marker {
  background-color: #FFCAFD;
}
.admin_container--dashboard-iframe .order-reference-sales-text {
  color: #994996;
}
.admin_container--dashboard-iframe-order-chart {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 16px 0px;
}
.admin_container--dashboard-iframe .orderStatus {
  width: calc(100% - 35px);
  margin: 0px auto;
  height: 100%;
  overflow-x: scroll;
}
.admin_container--dashboard-iframe .orderStatus::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  cursor: pointer;
}
.admin_container--dashboard-iframe .orderStatus::-webkit-scrollbar-track {
  border-radius: 0;
  width: 12px;
  height: 200px;
  background: transparent;
}
.admin_container--dashboard-iframe .orderStatus::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}
.admin_container--dashboard-iframe .orderStatus-barchart {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped {
  width: 80px;
  height: 100%;
  display: flex;
  gap: 4px;
  transform: scaleY(-1);
  padding-top: 5%;
  justify-content: baseline;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-orderBar {
  position: relative;
  height: 159px;
  width: 24px;
  border-radius: 4px;
  background-color: #D3F5FF;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-orderBar .orderBar-data {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: scaleY(-1) translate(-50%, -50%);
  color: #14809E;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-customersBar {
  position: relative;
  height: 124px;
  width: 24px;
  border-radius: 4px;
  background-color: #FFF1B1;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-customersBar .customersBar-data {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: scaleY(-1) translate(-50%, -50%);
  color: #CBA703;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-salesBar {
  position: relative;
  height: 176px;
  width: 24px;
  border-radius: 4px;
  background-color: #FFCAFD;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-salesBar .salesBar-data {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: scaleY(-1) translate(-50%, -50%);
  color: #994996;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-nodataBar1 {
  height: 159px;
  width: 24px;
  border-radius: 4px;
  background-color: #DDDDDD;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-nodataBar2 {
  height: 124px;
  width: 24px;
  border-radius: 4px;
  background-color: #DDDDDD;
}
.admin_container--dashboard-iframe .orderStatus-barchart-grouped-nodataBar3 {
  height: 176px;
  width: 24px;
  border-radius: 4px;
  background-color: #DDDDDD;
}
.admin_container--dashboard-iframe .orderStatus-xAxes {
  height: 1px;
  width: 1120px;
  margin-top: -30px;
  background-color: #DDDDDD;
}
.admin_container--dashboard-iframe .orderStatus-xAxes-time {
  height: 16px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.admin_container--dashboard-iframe .orderStatus-xAxes-time-slot {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.admin_container--dashboard-iframe .orderStatus-xAxes-time-slot-text {
  font-size: 12px;
  font-weight: 400;
  color: #AAAAAA;
}
.admin_container--dashboard-iframe-previous-performance {
  width: 100%;
  height: fit-content;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 12px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-header-heading {
  font-size: 18px;
  font-weight: 600;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-header-date {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-default, .admin_container--dashboard-iframe-previous-performance li, .admin_container--dashboard-iframe-previous-performance span {
  font-size: 14px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-wrapper {
  position: relative;
  width: 140px;
  padding: 4px 6px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  color: #FF4747;
  transition: all 0.3s ease-out;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #FF4747 transparent;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-wrapper.is-active {
  background: #FF4747;
  box-shadow: none;
  border-bottom: none;
  color: white;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-wrapper.is-active:after {
  border-color: #ffffff transparent;
  transform: rotate(180deg);
}
.admin_container--dashboard-iframe-previous-performance .dropdown-wrapper.is-active .dropdown-list {
  max-height: 400px;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-list {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border-radius: 0 0 12px 12px;
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-list li {
  padding: 0 10px;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-list li:hover a {
  color: #FF4747;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-list li:last-of-type a {
  border: none;
}
.admin_container--dashboard-iframe-previous-performance .dropdown-list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: auto;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card {
  width: 100%;
  height: 123px;
  border-radius: 12px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-orders {
  background-color: #EDFBFF;
  color: #14809E;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-customers {
  background-color: #FFFBE9;
  color: #CBA703;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-sales {
  background-color: #FFF4FF;
  color: #994996;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 16px;
  width: fit-content;
  font-size: 16px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-value {
  font-family: Pacifico, sans-serif;
  font-size: 40px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-elements {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}
.admin_container--dashboard-iframe-previous-performance .previous-performance-cards .previous-performance-card-button button {
  cursor: pointer;
  height: 24px;
  width: 88px;
  border-radius: 8px;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 12px;
  background: rgb(255, 102, 102);
  background: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
}
.admin_container--dashboard-iframe-today-order {
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 12px;
}
.admin_container--dashboard-iframe-today-order .today-order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.admin_container--dashboard-iframe-today-order .today-order-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.admin_container--dashboard-iframe-today-order .today-order-header-heading {
  font-size: 18px;
  font-weight: 600;
}
.admin_container--dashboard-iframe-today-order .today-order-header-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-today-order .today-order-header-status span {
  font-size: 18px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-today-order .today-order-header-status.status-completed {
  color: #54BA54;
}
.admin_container--dashboard-iframe-today-order .today-order-header-status.status-inProcess {
  color: #555555;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container {
  width: 100%;
  height: fit-content;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container table, .admin_container--dashboard-iframe-today-order .today-order-table-container td, .admin_container--dashboard-iframe-today-order .today-order-table-container th {
  text-align: left;
  white-space: nowrap;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container thead tr th {
  border-bottom: 1px solid #D3F5FF;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container tbody tr td {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container tr:nth-child(2n) {
  background-color: #EDFBFF;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container table {
  border-collapse: collapse;
  width: 100%;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container th, .admin_container--dashboard-iframe-today-order .today-order-table-container td {
  padding: 14px;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .table-process {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .table-process span {
  font-size: 16px;
  color: #555555;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .edit-table-process {
  color: #FF4747;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .edit-table-process span {
  font-size: 16px;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .table-completed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  color: #54BA54;
}
.admin_container--dashboard-iframe-today-order .today-order-table-container .table-completed span {
  font-size: 16px;
}
.admin_container--dashboard-iframe .dropdown-default, .admin_container--dashboard-iframe li, .admin_container--dashboard-iframe span {
  font-size: 14px;
  font-weight: 400;
}
.admin_container--dashboard-iframe .dropdown-wrapper {
  position: relative;
  width: 140px;
  padding: 4px 6px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  color: #FF4747;
  transition: all 0.3s ease-out;
}
.admin_container--dashboard-iframe .dropdown-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #FF4747 transparent;
}
.admin_container--dashboard-iframe .dropdown-wrapper.is-active {
  background: #FF4747;
  box-shadow: none;
  border-bottom: none;
  color: white;
}
.admin_container--dashboard-iframe .dropdown-wrapper.is-active:after {
  border-color: #ffffff transparent;
  transform: rotate(180deg);
}
.admin_container--dashboard-iframe .dropdown-wrapper.is-active .dropdown-list {
  max-height: 400px;
}
.admin_container--dashboard-iframe .dropdown-list {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border-radius: 0 0 12px 12px;
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.admin_container--dashboard-iframe .dropdown-list li {
  padding: 0 10px;
}
.admin_container--dashboard-iframe .dropdown-list li:hover a {
  color: #FF4747;
}
.admin_container--dashboard-iframe .dropdown-list li:last-of-type a {
  border: none;
}
.admin_container--dashboard-iframe .dropdown-list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
}

.header-title {
  font-size: 24px;
  line-height: 36px;
}

.table-status {
  font-size: 14px;
  line-height: 21px;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  padding: 4px 12px;
}

.table-status.red {
  color: #FF4747;
}
.table-status.red.active {
  border-color: #FF9898;
}

.table-status.grey {
  color: #888888;
}
.table-status.grey.active {
  border-color: #888888;
}

.table-status.blue {
  color: #14809E;
}
.table-status.blue.active {
  border-color: #14809E;
}

.table-status.green {
  color: #54BA54;
}
.table-status.green.active {
  border-color: #54BA54;
}

.running-orders-dash {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.running-orders-dash .table-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.chart-img {
  width: 100%;
}

.table-selected .table-details-wrap {
  flex-direction: column;
  gap: 16px;
}
.table-selected .table-details-wrap .notification-container {
  width: 100%;
  gap: 10px;
  align-items: center;
}
.table-selected .table-details-wrap .notification-container .notification-count {
  padding: 15px 12px;
  background-color: #ffeded;
  border-radius: 12px;
}
.table-selected .table-details-wrap .notification-container .notification-text {
  padding: 12px 16px;
  width: 100%;
  border-radius: 12px;
  background-color: #ffeded;
  justify-content: space-between;
}
.table-selected .table-details-wrap .notification-container .notification-text .text-container {
  align-items: center;
}
.table-selected .table-details-wrap .notification-container .notification-text .text-container .text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 21px;
}
.table-selected .table-details-wrap .order-details-container {
  width: 100%;
}
.table-selected .table-details-wrap .order-details-wrap {
  align-self: flex-start;
}
.table-selected .table-details-wrap .order-details-wrap .order-details-heading {
  margin-bottom: 16px;
}
.table-selected .table-details-wrap .order-details-wrap li {
  padding: 12px 0;
  border-top: 1px solid #DDDDDD;
}
.table-selected .table-details-wrap .order-details-wrap li:last-child {
  border-bottom: 1px solid #DDDDDD;
}
.table-selected .table-details-wrap .order-details-wrap li .order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-selected .table-details-wrap .order-details-wrap li .order-item .item-detail {
  display: flex;
  gap: 12px;
}
.table-selected .table-details-wrap .order-details-wrap li .order-item .item-detail img {
  border-radius: 6px;
}
.table-selected .table-details-wrap .order-details-wrap li .order-item .item-detail .qty {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}
.table-selected .table-details-wrap .order-details-wrap li .order-item .price {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.table-selected .table-details-wrap .order-details-wrap .bill-amt {
  font-size: 14px;
  line-height: 21px;
}
.table-selected .table-details-wrap .order-details-wrap .bill-amt span {
  margin-left: 12px;
}
.table-selected .table-details-wrap .order-details-wrap .text-right {
  padding: 16px 0;
}
.table-selected .table-details-wrap .other-details-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.table-selected .table-details-wrap .other-details-wrap .cus-details-wrap {
  background-color: #fff;
  border-radius: 12px;
}
.table-selected .table-details-wrap .other-details-wrap .cus-name {
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
}
.table-selected .table-details-wrap .other-details-wrap .cus-contact {
  display: inline-flex;
  align-items: center;
}
.table-selected .table-details-wrap .other-details-wrap .cus-contact img {
  margin-right: 8px;
}
.table-selected .table-details-wrap .other-details-wrap .btn-container {
  justify-content: space-evenly;
}
.table-selected .table-details-wrap .other-details-wrap .device-info .device-id {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
}
.table-selected .table-details-wrap .other-details-wrap .serve-staff-info p {
  color: #555555;
}
.table-selected .table-details-wrap .other-details-wrap .serve-staff-info .waiter-profiles {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.table-selected .table-details-wrap .other-details-wrap .serve-staff-info .waiter-profiles img {
  width: 40px;
}

.order-details-heading,
.bill-amt span,
.cus-name,
.stage-status h1,
.sub-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.categories-dash .stats .stat-value, .categories-dash .stats .stat-text {
  color: #994996;
}

.report-dash .report-stat-container {
  padding: 8px 16px;
  background-color: #EDFBFF;
  color: #14809E;
  border-radius: 12px;
  align-items: center;
}
.report-dash .report-stat-container .rpt-value {
  font-size: 40px;
  line-height: 70px;
  font-family: Pacifico, sans-serif;
}
.report-dash .stat-secondary {
  background-color: #FFFBE9;
  color: #CBA703;
}

.icon-change-container {
  width: 20%;
  display: grid;
  align-items: end;
  justify-items: center;
}

.food-items-dash .options {
  display: flex;
  gap: 8px;
}

.food-category-checkbox {
  display: inline-flex;
  gap: 24px;
}
.food-category-checkbox input[type=checkbox] {
  border-radius: 4px;
  width: 24px;
  margin-right: 8px;
}
.food-category-checkbox label {
  font-size: 16px !important;
  line-height: 24px !important;
}

/*# sourceMappingURL=style.css.map */
