@import "./includes/variables";
@import "./base/base";

.app-container{
    max-width: 1242px;
}
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.container-wrap {
    padding: 16px;
    background-color: $widget-white;
    border-radius: 12px;
    width: 100%;
}

.content-frame {
    height: 100%;
}

.center {
    justify-content: center;
    align-items: center;
}

.g-24 {
    gap: 24px;
}

.btn-wrap {
    padding: 4px 8px;
    background: linear-gradient(90deg, #ff6666 0%, #ff9688 100%);
    color: $widget-white;
    font-size: 14px;
    line-height: 21px;
    border-radius: 8px;
    border: none;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.admin_container {
    width: 100%;
    max-width: 1242px;
    margin: 0px auto;
    height: 100vh;
    background-color: $primary-color-dashboard;

    @import "./components/sidebar";

    &--dashboard {
        background-color: transparent;
        height: 100%;
        width: calc(1242px - ((1242px*20)/100));
        margin-left: calc(1242px - ((1242px*80)/100));
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@import "./base/animation";

// Running Orders page css

.admin_container--dashboard-iframe {
        // background-color: transparent;
        // height: 100%;
        // width: 80%;
        // margin-left: 20%;
        // padding: 24px;
        // display: flex;
        // flex-direction: column;
        // gap: 16px;

        @import "./components/header";
        @import "./layout/graph-notifications";
        @import "./layout/previous-performance";
        @import "./layout/today-order-table";
        @import "./components/filter_dropdown";
}

.header-title {
    font-size: 24px;
    line-height: 36px;
}

.table-status {
    font-size: 14px;
    line-height: 21px;
    border-radius: 8px;
    border: 1px solid $color-shadow-off-white;
    padding: 4px 12px;
}

.table-status.red {
    color: $active-link-color;
    &.active {
        border-color: $red;
    }
}
.table-status.grey {
    color: $primary-grey;
    &.active {
        border-color: $primary-grey;
    }
}
.table-status.blue {
    color: $dark-blue;
    &.active {
        border-color: $dark-blue;
    }
}

.table-status.green {
    color: $green;
    &.active {
        border-color: $green;
    }
}

// .details-wrap{
//     width: 100%;
//     display: flex;
//     gap: 16px;
// }

.table-selected {
    .table-details-wrap {
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        .notification-container {
            width: 100%;
            gap: 10px;
            align-items: center;
            .notification-count {
                padding: 15px 12px;
                background-color: #ffeded;
                border-radius: 12px;
            }
            .notification-text {
                padding: 12px 16px;
                width: 100%;
                border-radius: 12px;
                background-color: #ffeded;
                justify-content: space-between;
                .text-container {
                    align-items: center;
                    .text {
                        margin-left: 8px;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
        .order-details-container{
            width: 100%;
        }
        .order-details-wrap {
            align-self: flex-start;
            
            .order-details-heading{
                margin-bottom: 16px;
            }
            li {
                padding: 12px 0;
                border-top: 1px solid $color-shadow-off-white;
                &:last-child{
                    border-bottom: 1px solid $color-shadow-off-white;
                }
                .order-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .item-detail {
                        display: flex;
                        gap: 12px;
                        img{
                           border-radius: 6px; 
                        }
                        .qty {
                            font-size: 14px;
                            line-height: 21px;
                            color: $primary-grey;
                        }
                    }
                    .price {
                        font-size: 18px;
                        line-height: 27px;
                        font-weight: 600;
                    }
                }
            }
            .bill-amt{
                font-size: 14px;
                line-height: 21px;
                span{
                    margin-left: 12px;
                }
            }
            .text-right{
                padding: 16px 0;
            }
        }
        .other-details-wrap{
            display: flex;
            flex-direction: column;
            gap:16px;
            .cus-details-wrap{
                background-color: #FFF;
                border-radius: 12px;
            }
            .cus-name{
                text-align: center;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .cus-contact{
                display: inline-flex;
                align-items: center;
                img{
                    margin-right: 8px;
                }
            }
        }
    }
}

.order-details-heading, .bill-amt span, .cus-name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}



//-------MEDIA QUERY-------//

// for large screen desktop for min width 1564px

// @media (min-width: 1629px) {
//     .admin_container {
//         & .sidebar {
//             width: 16%;

//             &--navigations {
//                 &-link {
//                     margin-bottom: 2.5rem;
//                     //gap: 4.75rem;
//                 }
//             }
//         }
//     }
//     .admin_container--dashboard-iframe {
//         width: 84%;
//         margin-left: 16%;
//     }
// }

// // For Medium screen laptops or desktop
// @media (max-width: 1365px) and (min-width: 1240px) {
//     .admin_container {
//         & .sidebar {
//             width: 20%;

//             &--navigations {
//                 &-link {
//                     margin-bottom: 2rem;
//                     //gap: 2rem;
//                 }
//             }
//         }

        
//     }
//     .admin_container--dashboard-iframe {
//         width: 80%;
//         margin-left: 20%;

//         &-order-reference {
//             width: calc(100% - 25px);
//         }
//     }
// }

// // For device width less than 1240px & min width of 1000px
// // (Ex: Land Escape mode for ipad air, ipad mini, ipad)
// @media (max-width: 1239px) and (min-width: 1000px) {
//     .admin_container {
//         & .sidebar {
//             width: 24%;

//             &--navigations {
//                 &-link {
//                     margin-bottom: 1.75rem;
//                     //gap: 2rem;
//                 }
//             }
//         }

//     }
//     .admin_container--dashboard-iframe {
//         width: 76%;
//         margin-left: 24%;

//         &-details {
//             &-graph {
//                 width: calc(100% - 258px);

//                 &-pie {
//                     width: calc(100% - 231px);
//                 }

//                 &-column {
//                     width: calc(100% - 206px);
//                 }
//             }

//             &-notifications {
//                 width: calc(100% - 490px);
//             }
//         }


//         &-table-reference {
//             // height: 48px;
//             gap: 6px;
//             width: 96.5%;
//             margin: 16px auto;
//             //background-color: red;
//         }


//         &-order-reference {
//             height: 20px;
//             gap: 8px;
//             width: calc(100% - 35px);

//         }

//         .notification-row-header {
//             width: 240px;
//         }

//         &-previous-performance {
//             .previous-performance-cards {
//                 .previous-performance-card {
//                     width: calc(100% - 472px);
//                     gap: 16px;

//                     &-value {
//                         font-size: 24px;
//                     }

//                     &-elements {
//                         width: fit-content;
//                         display: flex;
//                         align-items: flex-start;
//                         flex-direction: column;
//                         flex-wrap: wrap;
//                         gap: 4px;
//                     }
//                 }
//             }
//         }
//     }
// }

//@media (min-width: 1281px) and (max-width: 1440px) {}
