@import "./includes/variables";

@import "./base/base";

.d-flex {
    display: flex;
}

.container-wrap{
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.center{
    justify-content: center;
    align-items: center;
}

.content-s-b{
    justify-content: space-between;
}

.content-s-e{
    justify-content: space-evenly;
}

.align-ic {
    align-items: center;
}

.g-24 {
    gap: 24px;
}

.g-16 {
    gap: 16px;
}

.g-6{
    gap: 6px;
}

.g-4 {
    gap: 4px;
}

.br-14 {
    border-radius: 14px;
}

.br-12 {
    border-radius: 12px;
}

.br-10 {
    border-radius: 10px;
}

.br-4 {
    border-radius: 4px;
}

.admin_container {
    width: 100%;
    min-height: 100vh;
    background-color: $primary-color-dashboard;
    &::-webkit-scrollbar {
        display: none;
    }

    @import "./components/sidebar";

    &--dashboard {
        background-color: transparent;
        height: fit-content;
        width: 80%;
        margin-left: 20%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        

        @import "./components/header";

        @import "./layout/graph-notifications";

        @import "./layout/previous-performance";

        &-today-order {
            width: 100%;
            height: fit-content;
            //padding: 16px;
            background-color: $widget-white;
            border-radius: 12px;
        
            .today-order-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // margin-bottom: 18px;
                padding: 16px;
        
                &-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 16px; 
                }
        
                &-heading {
                    font-size: 18px;
                    font-weight: 600;
                }

                &-status {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    font-size: 14px;
                    font-weight: 400;

                    
                    & span {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    
                    &.status-completed {
                        color: $green;
                    }

                    &.status-inProcess {
                        color: $color-icons-dark-grey;
                    }
                    
                }
            }

            .today-order-table-container {
                width: 100%;
                height: fit-content;
                //background-color: rgb(247, 241, 231);
                //padding: 16px;

                table, td, th {
                    text-align: left;
                    white-space: nowrap;
                }

                thead tr th{
                    border-bottom: 1px solid $blue;
                    padding-bottom: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }

                tbody tr td {
                    color: $color-icons-dark-grey;
                    font-size: 14px;
                    font-weight: 400;
                }

                tr:nth-child(2n) {
                    background-color: $light-blue;
                }

                table {
                    border-collapse: collapse;
                    width: 100%;
                }

               
                th, td {
                    padding: 14px 16px;
                    // margin-left: 46px;
                }
                // .table-container-wrap {
                //     //padding: 0px 16px;
                // }    

                .table-process {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    
                    & span {
                        font-size: 16px;
                        color: $color-icons-dark-grey; 
                    }

                    
                }

                .edit-table-process {
                    color: $active-link-color;

                    & span {
                        font-size: 16px;
                    }
                }

                .table-completed {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    color: $green;
                    
                    & span {
                        font-size: 16px;
                    }

                }
            }
        }

        @import "./components/filter_dropdown";

    }
}

@import "./base/animation";









// Running Orders page css

.header-title{
    font-size: 24px;
    line-height: 38px;
}

.table-status{
    font-size: 14px;
    line-height: 21px;
    border-radius: 14px;
    border: 1px solid black;
    padding: 4px 12px;
}


//-------MEDIA QUERY-------//

// for large screen desktop for min width 1564px

@media (min-width: 1629px) {
    .admin_container {
        & .sidebar {
            width: 16%;

            &--navigations {
                &-link {
                    margin-bottom: 2.5rem;
                    // gap: 4.75rem;
                }
            }
        }

        &--dashboard {
            width: 84%;
            margin-left: 16%;
        }
    }

}

// For Medium screen laptops or desktop
@media (max-width: 1365px) and (min-width: 1240px) {
    .admin_container {
        & .sidebar {
            width: 20%;

            &--navigations {
                &-link {
                    margin-bottom: 2rem;
                    // gap: 2rem;
                }
            }
        }

        &--dashboard {
            width: 80%;
            margin-left: 20%;

            &-order-reference {
                width: calc(100% - 25px);
            }
        }
    }
}


// For device width less than 1240px & min width of 1000px 
// (Ex: Land Escape mode for ipad ai5, ipad mini, ipad)
@media (max-width: 1239px) and (min-width: 1000px) {
    .admin_container {
        & .sidebar {
            width: 24%;

            &--navigations {
                &-link {
                    margin-bottom: 1.75rem;
                    // gap: 2rem;
                }
            }
        }

        &--dashboard {
            width: 76%;
            margin-left: 24%;

            &-details {
                &-graph {
                    width: calc(100% - 258px);

                    &-pie {
                        width: calc(100% - 231px);
                    }

                    &-column {
                        width: calc(100% - 206px);
                    }
                }

                &-notifications {
                    width: calc(100% - 490px);
                }
            }


            &-table-reference {
                // height: 48px;
                gap: 6px;
                width: 96.5%;
                margin: 16px auto;
                //background-color: red;
            }


            &-order-reference {
                height: 20px;
                gap: 8px;
                width: calc(100% - 35px);

            }

            .notification-row-header {
                width: 240px;
            }

            &-previous-performance {
                .previous-performance-cards {
                    .previous-performance-card {
                        width: calc(100% - 472px);
                        gap: 16px;

                        &-value {
                            font-size: 24px;
                        }

                        &-elements {
                            width: fit-content;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            flex-wrap: wrap;
                            gap: 4px;
                        }
                    }
                }
            }
        }

    }
}

//@media (min-width: 1281px) and (max-width: 1440px) {}