&-details {
    //width: calc(100% - 48px);
    width: 100%;
    height: 348px;
    //background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    //margin: 24px; 

    &-graph {
        width: calc(100% - 314px);
        height: 100%;
        background-color: $widget-white;
        border-radius: 12px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        // box-shadow: $primary-widget-shadow;
        // -webkit-box-shadow: $primary-widget-shadow;
        // -moz-box-shadow: $primary-widget-shadow;

        &-pie {
            width: calc(100% - 343px);
            height: 100%;
            border-right: 2px solid $color-shadow-off-white;
            // background-color: aquamarine;
        }

        &-column {
            width: calc(100% - 283px);
            height: 100%;
            // background-color: yellow;
        }
    }

    &-notifications {
        width: calc(100% - 628px);
        height: 100%;
        background-color: $widget-white;
        border-radius: 12px;
        overflow: hidden;
        overflow-y: auto;
        // box-shadow: $primary-widget-shadow;
        // -webkit-box-shadow: $primary-widget-shadow;
        // -moz-box-shadow: $primary-widget-shadow;

        &::-webkit-scrollbar {
            width: 2px;
            height: 3px;
            cursor: pointer;
            margin-left: -12px;
            //border: 1px solid #d5d5d5;
        }
    
        &::-webkit-scrollbar-track {
            border-radius: 0;
            width: 12px;
            height: 200px;
            background: #eeeeee;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: #b0b0b0;
        }

        .notification-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                //width: 100%;
                //border-bottom: 1px solid $blue;

                &-heading {
                    font-size: 18px;
                    font-weight: 600;
                }

                &-unread {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            &-message {
                height: fit-content;
                display: flex;
                justify-content: space-evenly;
                align-items: self-start;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 4px;
                width: 100%;
                padding: 12px;
                text-transform: none;
                border-bottom: 1px solid $blue;

                &.active {
                    background-color: $light-red;
                    border-bottom: none;
                }

                &-time {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    color: $primary-grey;
                }

                &-text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: $primary-black;

                    & >  a {
                        color: $active-link-color;
                    }
                }
            }
        
        }
    }


}

&-table-status {
    padding: 0px 16px;

    &>h5 {
        font-size: 18px;
        font-weight: 600;
    }
}

&-table-chart {
    position: relative;
    height: 180px;
    width: 180px;
    //background-color: green;
    margin: 30px auto;
}

#table-chart {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px ;
    width: 400px ;
}

&-table-reference {
    height: 48px;
    width: calc(100% - 48px);
    //background-color: red;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4px;
}

.table-reference {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;

    &-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;


        &-marker {
            height: 16px;
            width: 8px;
            border-radius: 4px;
        }

        &-text {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &-occupied-marker {
        background-color: $sky-blue;
    }

    &-occupied-text {
        color: $dark-blue;
    }

    &-available-marker {
        background-color: $color-shadow-off-white;
    }

    &-available-text {
        color: $color-icons-dark-grey;
    }


    &-engaged-marker {
        background-color: $green;
    }

    &-engaged-text {
        color: $green;
    }

}

&-order-reference {
    height: fit-content;
    width: calc(100% - 25px);
    margin: 4px auto;
    //background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    //padding: 0px 25px;
}

.order-reference {
    &-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        &-marker {
            height: 16px;
            width: 8px;
            border-radius: 4px;
        }

        &-text {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &-total-marker {
        background-color: $blue;
    }

    &-total-text {
        color: $dark-blue;
    }

    &-customers-marker {
        background-color: $lime-yellow;
    }

    &-customers-text {
        color: $dark-yellow;
    }

    &-sales-marker {
        background-color: $purpel;
    }

    &-sales-text {
        color: $dark-purpel;
    }

}

&-order-chart {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 16px 0px;
    // background-color: rgb(221, 195, 140);
}

.orderStatus {
    width: calc(100% - 35px);
    margin: 0px auto;
    height: 100%;
    // background-color: rgb(209, 238, 105);
    overflow-x: scroll;
    //overflow: hidden;

    &::-webkit-scrollbar {
        width: 2px;
        height: 3px;
        cursor: pointer;
        //border: 1px solid #d5d5d5;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        width: 12px;
        height: 200px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: #b0b0b0;
    }

    &-barchart {
        width: 600px;
        height: 100%;
        //background-color: red;
        display: flex;
        align-items: center;
        gap: 24px;

        &-grouped {
            width: 80px;
            height: 100%;
            // background-color: rgb(255, 246, 229); 
            display: flex;
            gap: 4px;
            transform: scaleY(-1);
            padding-top: 5%;
            justify-content: baseline;

            &-orderBar {
                position: relative;
                height: 159px;
                width: 24px;
                border-radius: 4px;
                background-color: $blue;

                & .orderBar-data {
                    font-size: 12px;
                    font-weight: 400;
                    position: absolute;
                    top: 96%;
                    left: 50%;
                    transform: scaleY(-1) translate(-50%, -50%);
                    color: $dark-blue;
                }
            }

            &-customersBar {
                position: relative;
                height: 124px;
                width: 24px;
                border-radius: 4px;
                background-color: $lime-yellow;

                & .customersBar-data {
                    font-size: 12px;
                    font-weight: 400;
                    position: absolute;
                    top: 96%;
                    left: 50%;
                    transform: scaleY(-1) translate(-50%, -50%);
                    color: $dark-yellow;
                }
            }

            &-salesBar {
                position: relative;
                height: 176px;
                width: 24px;
                border-radius: 4px;
                background-color: $purpel;

                & .salesBar-data {
                    font-size: 12px;
                    font-weight: 400;
                    position: absolute;
                    top: 96%;
                    left: 50%;
                    transform: scaleY(-1) translate(-50%, -50%);
                    color: $dark-purpel;
                }
            }

            &-nodataBar1 {
                height: 159px;
                width: 24px;
                border-radius: 4px;
                background-color: $color-shadow-off-white;
            }

            &-nodataBar2 {
                height: 124px;
                width: 24px;
                border-radius: 4px;
                background-color: $color-shadow-off-white;
            }

            &-nodataBar3 {
                height: 176px;
                width: 24px;
                border-radius: 4px;
                background-color: $color-shadow-off-white;
            }
        }
    }

    &-xAxes {
        height: 1px;
        width: 1120px;
        margin-top: -30px;
        background-color: $color-shadow-off-white;
    }

    &-xAxes-time{
        height: 16px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        &-slot {
            height: 100%;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px auto;

            &-text {
                font-size: 12px;
                font-weight: 400;
                color: $light-grey;
            }
        }
    }
    
}