& .sidebar {
    height: 100%;
    width: 19.1%;
    //overflow-y: auto;
    background-color: $widget-white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: left;
    padding: 1rem;
    box-shadow: -5px 0px 25px 0px $color-shadow-off-white;
    -webkit-box-shadow: -5px 0px 25px 0px $color-shadow-off-white;
    -moz-box-shadow: -5px 0px 25px 0px $color-shadow-off-white;
    position: fixed;
    top: 0;

    &--restaurant-logo {
        height: 5.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
        margin-top: 1rem;

        &-box {
            display: contents;
            justify-content: center;
            align-items: center;
            height: 5.5rem;
            width: 5.5rem;
            border-radius: 50%;

            &>img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &--navigations {

        &-container {
            overflow-x: hidden;
            overflow-y: auto;
            height: 80%;
            //background-color: aqua;

            &::-webkit-scrollbar {
                width: 3px;
                max-height: 3px;
                //background-color: #F5F5F5;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                height: 2%;
                //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #bdbdbdd9;
            }
        }

        &-link.active {
            a, span{
                color: $active-link-color;
            }

            span.sidebar--navigations-link-arrow{
                transform: rotate(-90deg);
                transition: all .2s ease-in-out;
            }
            //display: none;
        }

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.5rem;
            gap: 3rem;
            cursor: pointer;

            &-text {
                font-size: 16px;
            }

            &-arrow {
                color: $color-icons-dark-grey;
                font-weight: 200;
                font-size: 24px;
                transform: rotate(90deg);
                transition: all .2s ease-in-out;
            }


            &-icon {
                color: $color-icons-dark-grey;
                font-weight: 300;
                font-size: 25px;
            }
        }

        &-submenu {
            margin-bottom: 1.75rem;

            &-link {
                margin-top: -2rem;
                display: none;
                animation: growDown .2s ease-in-out forwards;
                transform-origin: top center;
            }

            &-link ::after{
                animation: growUp .2s ease-in-out backwards;
            }

        }

        &-subsubmenu {
            margin-bottom: -0.75rem;
            padding: 1rem;

            &.active {
                a, span {
                    color: $active-link-color;
                }
            }
        }

    }

    &--icon {
        display: flex;
        line-height: 24px;
        gap: 0.65rem;

        // &.active {
        //     color: $active-link-color;
        // }
    }
}