*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
    marker: none;
}