$light-blue: #EDFBFF;
$blue: #D3F5FF;
$sky-blue: #B3D9E2;
$dark-blue: #14809E;
$light-yellow: #FFFBE9;
$lime-yellow: #FFF1B1;
$yellow: #FFD700;
$dark-yellow: #CBA703;
$light-purpel: #FFF4FF;
$purpel: #FFCAFD;
$dark-purpel: #994996;
$light-orange: #FFEDCA;
$orange: #F3CA79;
$dark-orange: #C9870B;
$widget-white: #FFFFFF;
$color-shadow-off-white: #DDDDDD;
$light-grey: #AAAAAA;
$primary-grey: #888888;
$color-icons-dark-grey: #555555;
$primary-black: #222222;
$light-red: #FFEDED;
$red: #FF9898;
$active-link-color: #FF4747;
$light-green: #9CDA9C;
$green: #54BA54;
$dark-green: #278827;
$primary-color-dashboard: #F3F3F3;

$primary-widget-shadow: -5px 0px 25px 0px $color-shadow-off-white;